<!DOCTYPE html>
<html>
  <head>
    <title>MyApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <p>Головна сторінка</p>
    <p>Ваш профіль</p>
    <p>Новини</p>

    <p class="text-red">
      <%= flash[:error] %>
    </p>

    <p class="text-green">
      <%= flash[:success] %>
    </p>

    <%= yield %>
  </body>
</html>
